&.canvas__earth {
	display: none;
	justify-content: center;
	align-items: start;
	.earth {
		$earth-size: 60vmin;
		aspect-ratio: 1/1;
		background-color: var(--color-blue);
		border-radius: 50%;
		clip-path: circle(calc($earth-size / 2) at center);
		overflow: clip;
		position: relative;
		transform: translateY(15vmin);
		width: $earth-size;
		.countries {
			display: grid;
			grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
			grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
			height: $earth-size;
			position: absolute;
			width: $earth-size;
			> [class*="country--"] {
				background-color: var(--color-green);
				border-radius: calc($earth-size / 40);
				&.country--1  { grid-column: 2 / span 2;	grid-row: 2 / span 3; }
				&.country--2  { grid-column: 1 / span 4;	grid-row: 3; }
				&.country--3  { grid-column: 2;						grid-row: 5; }
				&.country--4  { grid-column: 3;						grid-row: 6; }
				&.country--5  { grid-column: 4 / span 2;	grid-row: 6 / span 3; }
				&.country--6  { grid-column: 5 / span 2;	grid-row: 7; }
				&.country--7  { grid-column: 5;						grid-row: 7 / span 3; }
				&.country--8  { grid-column: 9;						grid-row: 2; }
				&.country--9  { grid-column: 8;						grid-row: 3; }
				&.country--10 { grid-column: 10;					grid-row: 3; }
				&.country--11 { grid-column: 8 / span 2;	grid-row: 4 / span 2; }
				&.country--12 { grid-column: 8 / span 3;	grid-row: 5 / span 2; }
				&.country--13 { grid-column: 9 / span 2;	grid-row: 6 / span 3; }
				&.country--14 { grid-column: 7 / span 2;	grid-row: 5; }
				&.country--15 { grid-column: 5;						grid-row: 2; background-color: var(--color-white); }
				&.country--16 { grid-column: 5 / span 2;	grid-row: 10; background-color: var(--color-white); transform: translateY(50%); }
				&.country--17 { grid-column: 5 / span 2;	grid-row: 1; background-color: var(--color-white); transform: translateY(-75%); }
			}
		}
		.clouds {
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-timing-function: linear;
			animation-duration: 30s;
			display: grid;
			grid-template-columns: 25% 25% 25% 25% 25% 25% 25% 25%;
			grid-template-rows: 25% 20% 30% 25%;
			height: $earth-size;
			position: absolute;
			width: $earth-size;

			> [class*="cloud--"] {
				background-color: var(--color-white);
				border-radius: calc($earth-size / 20);
				opacity: 0.25;
				will-change: transform;
				&.cloud--1 { grid-column: 1 / span 3;	grid-row: 1; }
				&.cloud--2 { grid-column: 5 / span 3;	grid-row: 1; }
				&.cloud--3 { grid-column: 8;					grid-row: 2; }
				&.cloud--4 { grid-column: 2 / span 4;	grid-row: 3; }
				&.cloud--5 { grid-column: 1;					grid-row: 4; }
				&.cloud--6 { grid-column: 7 / span 2;	grid-row: 4; }
			}
		}
		.happenings {
			box-shadow: -1rem -1rem 0rem 0rem rgba(0, 0, 0, .33) inset;
			border-radius: 50%;
			clip-path: circle(calc($earth-size / 1.99) at center);
			display: grid;
			grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
			grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
			height: $earth-size;
			position: absolute;
			width: $earth-size;
			> [class*="happening__"] {
				animation-duration: 10s;
				animation-iteration-count: 1;
				animation-timing-function: linear;
				cursor: pointer;
				transform: scale(0);

				/* deforestation */
				&[class^="happening__deforestation--"] {
					background-color: var(--color-brown);
					clip-path: polygon(8% 3%, 91% 2%, 90% 72%, 98% 99%, 67% 78%, 56% 99%, 42% 78%, 26% 98%, 22% 77%, 1% 98%, 7% 68%);
				}
				&.happening__deforestation--1  { grid-column: 2;	grid-row: 5; }
				&.happening__deforestation--2  { grid-column: 5;	grid-row: 7; }
				&.happening__deforestation--3  { grid-column: 9;	grid-row: 7; }

				/* oilspill */
				&[class^="happening__oilspill--"] {
					background-color: var(--color-black);
					clip-path: polygon(48% 11%, 37% 7%, 24% 8%, 16% 13%, 14% 20%, 18% 27%, 22% 32%, 21% 41%, 12% 46%, 5% 50%, 3% 61%, 12% 64%, 18% 67%, 19% 82%, 25% 97%, 32% 96%, 36% 90%, 40% 84%, 51% 88%, 55% 94%, 67% 98%, 76% 91%, 77% 84%, 81% 81%, 91% 75%, 92% 67%, 86% 65%, 77% 67%, 65% 59%, 70% 53%, 78% 50%, 85% 51%, 92% 42%, 91% 35%, 84% 30%, 79% 25%, 82% 18%, 81% 10%, 67% 9%, 59% 21%, 52% 23%);
				}
				&.happening__oilspill--1  { grid-column: 3;	grid-row: 5; }
				&.happening__oilspill--2  { grid-column: 8;	grid-row: 9; }
				&.happening__oilspill--3  { grid-column: 4;	grid-row: 4; }
				&.happening__oilspill--4  { grid-column: 7;	grid-row: 3; }

				/* plasticwaste  */
				&[class^="happening__plasticwaste--"] {
					background-color: var(--color-red);
					clip-path: polygon(10% 1%, 10% 99%, 90% 99%, 90% 1%, 75% 1%, 75% 33%, 25% 33%, 25% 1%);
				}
				&.happening__plasticwaste--1  { grid-column: 3;	grid-row: 5; }
				&.happening__plasticwaste--2  { grid-column: 9;	grid-row: 3; }
				&.happening__plasticwaste--3  { grid-column: 1;	grid-row: 5; }
				&.happening__plasticwaste--4  { grid-column: 7;	grid-row: 8; }
				&.happening__plasticwaste--5  { grid-column: 4;	grid-row: 5; }

				/* overfishing  */
				&[class^="happening__overfishing--"] { background-color: var(--color-white); clip-path: polygon(10% 25%, 35% 25%, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 35% 100%, 35% 50%, 10% 50%); }
				&.happening__overfishing--1  { grid-column: 3;	grid-row: 7; }
				&.happening__overfishing--2  { grid-column: 2;	grid-row: 6; }
				&.happening__overfishing--3  { grid-column: 7;	grid-row: 3; }
				&.happening__overfishing--4  { grid-column: 3;	grid-row: 8; }
				&.happening__overfishing--5  { grid-column: 8;	grid-row: 7; }
				&.happening__overfishing--6  { grid-column: 8;	grid-row: 2; }

				/* greenhousegases */
				&[class^="happening__greenhousegases--"] {
					background-color: var(--color-black);
					clip-path: polygon(14% 76%, 85% 77%, 95% 68%, 95% 56%, 88% 49%, 79% 50%, 79% 36%, 74% 21%, 64% 16%, 61% 15%, 41% 17%, 29% 26%, 26% 33%, 19% 33%, 9% 38%, 1% 50%, 1% 64%, 6% 71%);
				}
				&.happening__greenhousegases--1  { grid-column: 3;	grid-row: 4; }
				&.happening__greenhousegases--2  { grid-column: 5;	grid-row: 10; }
				&.happening__greenhousegases--3  { grid-column: 6;	grid-row: 2; }
				&.happening__greenhousegases--4  { grid-column: 2;	grid-row: 3; }
				&.happening__greenhousegases--5  { grid-column: 8;	grid-row: 4; }
				&.happening__greenhousegases--6  { grid-column: 8;	grid-row: 3; }
				&.happening__greenhousegases--7  { grid-column: 6;	grid-row: 7; }

				/* overpopulation */
				&[class^="happening__overpopulation--"] {
					background-color: var(--color-black);
					clip-path: polygon(50% 0, 26% 8%, 18% 28%, 25% 46%, 32% 53%, 0 58%, 11% 78%, 29% 74%, 14% 100%, 41% 100%, 45% 88%, 52% 87%, 55% 100%, 85% 100%, 69% 72%, 91% 78%, 100% 57%, 65% 52%, 71% 46%, 80% 26%, 71% 8%);
				}
				&.happening__overpopulation--1  { grid-column: 10;	grid-row: 6; }
				&.happening__overpopulation--2  { grid-column: 3;	grid-row: 4; }
				&.happening__overpopulation--3  { grid-column: 4;	grid-row: 3; }
				&.happening__overpopulation--4  { grid-column: 6;	grid-row: 7; }
				&.happening__overpopulation--5  { grid-column: 8;	grid-row: 6; }
				&.happening__overpopulation--6  { grid-column: 8;	grid-row: 3; }
				&.happening__overpopulation--7  { grid-column: 4;	grid-row: 6; }
				&.happening__overpopulation--8  { grid-column: 9;	grid-row: 2; }
			}
		}
	}
}