/* global / game stopped */
.hud {
	@include full-screen;
	box-shadow: inset 0px 0px 0px 2px red;
	display: block;
	left: 0;
	position: fixed;
	top: 0;
	.hud__menu {
		@include full-screen;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}
	.hud__goals {
		left: 2vh;
		top: 2vh;
		opacity: 0.3;
		position: fixed;
	}
	.hud__actions {
		/* @include full-screen;
		left: 0;
		position: absolute;
		top: 0; */
		> [class*="action--"] {
			background-color: var(--color-black);
			@include notification-box;
		}
	}
	.hud__notifications {
		/* @include full-screen;
		left: 0;
		position: absolute;
		top: 0; */
		> [class*="notification--"] {
			background-color: var(--color-blue-dark);
			@include notification-box;
		}
	}
	label {
		background-color: var(--color-green);
		color: var(--color-black);
		cursor: pointer;
		padding: 1vh 2vh;
		&:hover {
			background-color: var(--color-green-dark);
		}
	}
}

/* game running */
.hud:has(input[type="checkbox"]:checked) {
	box-shadow: inset 0px 0px 0px 2px green;
	.hud__menu {
		display: none;
	}
}

/* deforestation */
.hud:has(input[type="checkbox"][id="deforestation_happening"]:checked):not(:has(input[type="checkbox"][id="deforestation_solved"]:checked)) {
	.hud__actions .action--deforestation {
		bottom: 1vh;
	}
}
.hud:has(input[type="checkbox"][id="deforestation_solved"]:checked):not(:has(input[type="checkbox"][id="oil_spill_happening"]:checked)) {
	.hud__notifications .notification--deforestation {
		bottom: 1vh;
	}
}

/* oil_spill */
.hud:has(input[type="checkbox"][id="oil_spill_happening"]:checked):not(:has(input[type="checkbox"][id="oil_spill_solved"]:checked)) {
	.hud__actions .action--oil_spill {
		bottom: 1vh;
	}
}
.hud:has(input[type="checkbox"][id="oil_spill_solved"]:checked) {
	.hud__notifications .notification--oil_spill {
		bottom: 1vh;
	}
}