/* global / game stopped */
.hud {
	@include full-screen;
	display: block;
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;

	/* start menu */
	.hud__menu {
		@include full-screen;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		pointer-events: all;
	}

	/* settings */
	.hud__settings {
		@include full-screen;
		pointer-events: none;
		.settings__animations {
			background-color: var(--color-green);
			border-radius: 50%;
			top: 1vw;
			display: block;
			height: 2.4rem;
			right: 1vw;
			padding: 0;
			position: fixed;
			pointer-events: all;
			width: 2.4rem;
			[class*="icon--line--"] {
				background-color: var(--color-black);
				height: 2px;
				position: absolute;
				right: 55%;
				transform: translateY(-1px);
			}
			.icon--line--1 { top: 40%; width: 40%; }
			.icon--line--2 { top: 50%; width: 30%; }
			.icon--line--3 { top: 60%; width: 20%; }
			.icon--circle {
				border: 2px solid var(--color-black);
				border-radius: 50%;
				border-width: 2px;
				height: 30%;
				position: absolute;
				right: 10%;
				transform: translateY(-50%);
				top: 50%;
				width: 30%;
			}
			.icon--disabled {
				display: none;
				background-color: var(--color-green);
				height: 2px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%) rotateZ(-45deg);
				width: 100%;
			}
		}
	}

	@import 'hud_robot';

	/* goals (hidden, enabled for debugging) */
	.hud__goals {
		left: 2vh;
		top: 2vh;
		opacity: 0.3;
		position: fixed;
	}

	/* actions */
	.hud__actions {
		@include full-screen;
		pointer-events: none;
		> [class*="action__"] {
			@include notification-box;
			animation-direction: normal;
			animation-duration: 15s;
			animation-iteration-count: 1;
			animation-timing-function: linear;
			background-color: var(--color-black);
			display: grid; grid-auto-rows: 1fr;
			pointer-events: all;
			.action--description,
			.action--failed {
				box-sizing: border-box;
				min-width: 100%;
				padding: 0.5rem;
				> h2 {
					display: inline-block;
					text-transform: uppercase;
				}
				> p {
					display: inline;
				}
			}
			.action__progress {
				animation-duration: 15s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
				animation-timing-function: linear;
				background-color: var(--color-green);
				height: 4px;
				left: 0;
				position: absolute;
				top: 0;
				width: 0%;
			}
		}
	}

	/* notifications */
	.hud__notifications {
		@include full-screen;
		pointer-events: none;
		> [class*="notification__"] {
			@include notification-box;
			animation-direction: normal;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
			animation-iteration-count: 1;
			animation-timing-function: linear;
			background-color: var(--color-blue-dark);
			padding: 0.5rem;
			pointer-events: all;
			> h2 {
				display: inline-block;
				text-transform: uppercase;
			}
			> p {
				display: inline;
			}
		}
	}

	/* global hud elements */
	label,
	a.restart {
		background-color: var(--color-green);
		clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
		color: var(--color-black);
		cursor: pointer;
		display: inline-block;
		padding: 0 2rem;
		text-decoration: none;
		&:hover {
			background-color: var(--color-green-dark);
		}
	}
	/* a.restart {
		position: absolute;
    right: 0;
    top: 50%;
	} */

	b {
		color: var(--color-green);
		font-weight: 900;
	}
}