html, body {
	@include full-screen;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
body {
	font-size: 110%;
}
* {
	color: var(--color-white);
	font-family: monospace;
  font-style: normal;
  font-weight: 400;
}